{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/40f7a5c3eb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="'text/css" media="all"/>
    <title>Pejapp</title>
</head>

<body>
    <nav class="py-2 bg-body-tertairy border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item">
                    <a class="nav-link link-body-emphasis px-2 active" href="{% url 'post-list' %}">Strona główna</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-2" href="{% url 'post-create' %}">Dodaj Posta</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link link-body-emphasis px-2" href="#">O nas</a>
                </li>
            </ul>
            <ul class="nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-2" href="{% url 'profile' %}">
                            Profil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-2" href="{% url 'logout' %}">Wyloguj się</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-2" href="{% url 'login' %}">Zaloguj się</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-2" href="{% url 'register' %}">Zarejestruj się</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="{% url 'post-list' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope-open-heart" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l3.235 1.94a2.8 2.8 0 0 0-.233 1.027L1 7.384v5.733l3.479-2.087q.224.414.558.83l-4.002 2.402A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738l-4.002-2.401q.334-.418.558-.831L15 13.117V7.383l-3.002 1.801a2.8 2.8 0 0 0-.233-1.026L15 6.217V5.4a1 1 0 0 0-.53-.882zM7.06.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765zM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                  </svg>
                &nbsp;
                <span class="fs-4">Pejapp</span>
            </a>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                    <input type="search" class="form-control" name="search" placeholder="Szukaj...">
            </form>
        </div>
    </header>

    <div class="container mt-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>