{% extends 'pejapp/base.html' %}
{% block content %}
  <h2>Wyszukaj użytkowników</h2>
  <form method="get" class="mb-3">
      <input type="text" name="q" placeholder="Wpisz nazwę użytkownika" value="{{ query }}" class="form-control">
      <button type="submit" class="btn btn-primary mt-2">Szukaj</button>
  </form>
  {% if query %}
    <h4>Wyniki wyszukiwania:</h4>
    <ul class="list-group">
      {% for user in users %}
        <li class="list-group-item">{{ user.username }} ({{ user.email }})</li>
      {% empty %}
        <li class="list-group-item">Brak użytkowników spełniających kryteria.</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}