{% extends 'pejapp/base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Profil użytkownika {{ profile_user.username }}</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body text-center">
          <h4 class="card-title" style="color: #007bff; font-weight: bold;">
            {{ profile_user.username }}
          </h4>
          <p class="card-text text-muted">{{ user.profile.bio|default:"Brak opisu" }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3>Posty</h3>
      <div id="post-list">
        {% for post in posts %}
          <div class="list-group mb-4">
            <a href="{% url 'post-detail' post.pk %}" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ post.title }}</h5>
                <small>{{ post.date_posted }}</small>
              </div>
              <p class="mb-1">{{ post.content|truncatewords:20 }}</p>
              <small>Opublikowane przez <a href="{% url 'user-profile' post.author.username %}" class="text-primary">{{ post.author.username }}</a></small>
            </a>
          </div>
        {% empty %}
          <p class="text-center">Brak postów do wyświetlenia.</p>
        {% endfor %}

        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}" data-page="{{ posts.previous_page_number }}">Poprzednia</a>
              </li>
            {% endif %}
            {% for num in posts.paginator.page_range %}
              {% if posts.number == num %}
                <li class="page-item active">
                  <span class="page-link">{{ num }}</span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}" data-page="{{ num }}">{{ num }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if posts.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}" data-page="{{ posts.next_page_number }}">Następna</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}