{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <main class="form-signin">
        <form method="post">
          <h1 class="h3 mb-3 fw-normal text-center">Proszę zarejestruj się</h1>
          <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="id_username" placeholder="Nazwa użytkownika" required>
            <label for="id_username">Nazwa użytkownika</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="id_email" placeholder="Email" required>
            <label for="id_email">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password1" class="form-control" id="id_password1" placeholder="Hasło" required>
            <label for="id_password1">Hasło</label>
            <div id="passwordHelpBlock" class="form-text">
              Twoje hasło musi mieć co najmniej 8 znaków, zawierać wielką literę, małą literę, cyfrę i znak specjalny.
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password2" class="form-control" id="id_password2" placeholder="Potwierdź hasło" required>
            <label for="id_password2">Potwierdź hasło</label>
          </div>
          <button class="btn btn-primary w-100 py-2" type="submit">Zarejestruj się</button>
        </form>
      </main>
    </div>
  </div>
</div>
{% endblock %}
