{% extends "base.html" %}

{% block title %}Lista użytkowników{% endblock %}

{% block content %}
    <h2>Lista użytkowników</h2>
    <ul>
        {% for user in users %}
            <li>
                {{ user.name }} - {{ user.email }}
                <a href="/edit_user/{{ user.id }}">✏ Edytuj</a>
                <a href="/delete_user/{{ user.id }}" onclick="return confirm('Czy na pewno chcesz usunąć?')">🗑 Usuń</a>
            </li>
        {% endfor %}
        </ul>
        <a href="/register">Zarejestruj się</a>
{% endblock %}