.list-group-item-action {
    transition: background-color 0.3s ease;
}

.list-group-item-action:hover {
    background-color: #f0f8ff;
}

.list-group-item-action:nth-child(odd) {
    background-color: #f9f9f9;
}

.list-group-item-action:nth-child(even) {
    background-color: #ffffff;
}